body {
    background-color: #1C1C1F;
    font-family: serif;
    color: #A19E86;
}

.thumbnail-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.thumbnail-container .tank {
    width: 200px;
    padding: 5px;
}

.thumbnail-container .tank:hover {
    background-color: #2C2C2C;
}

.thumbnail-container img {
    width: 200px;
    height: 150px;
}

.thumbnail-container .flag {
    width: 23px;
    height: 13px;
}

.thumbnail-container .infoAboutTank {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
}

.thumbnail-container .infoAboutTank span:nth-child(2) {
    margin-left: 5px;
    margin-right: 5px;
}

.infoAboutTank span:last-child {
    color: #D7D2B7;
    font-weight: bold;
}

.tank-details img {
    width: 500px;
    height: auto;
}

.infoBlock img, h1 {
    display: inline;
}

.tank-details .flag {
    width: 30px;
    height: 17px;
}

.tank-details a {
    display: block;
}

.preText {
    margin: 20px 0 20px 0;
}

.preText h2 {
    display: inline;
}

.preText h2:first-child {
    padding-right: 500px;
}

table {
    display: inline;
    position: absolute;
    margin-left: 80px;
    border-collapse: collapse;
    color: #D7D2B7;
}

td, tr {
    border: 1px solid #A19E86;
}

table tr {
    line-height: 30px;
}

table td {
    padding-left: 10px;
}

table td:first-child {
    width: 500px;
}

table td:last-child {
    width: 200px;
}