* {
    box-sizing: border-box;
}

body {
    border: 0px;
    margin: 0px;
    padding: 0px;
    overflow: auto;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
}

header {
    position: absolute;
    color: white;
    width: 100%;
    height: 740px;
    background: url(../img/apples.jpg) no-repeat center / cover;
    background-attachment: fixed;
    padding-left: 6%;
    padding-right: 6%;
}

a {
    color: #FFF;
    text-decoration: none;
}

header a:not(:last-child),footer a:not(:last-child){
    margin-right: 50px;
}

.header-box-1 {
    letter-spacing: 3px;
}

a:hover {
    padding-bottom: 10px;
    border-bottom: 2px solid #B7C8D9;
}

a:active {
    padding-bottom: 5px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.bgText {
    display: flex;
    flex-direction: column;
    margin-top: 130px;
    align-items: center;
    margin-left: 50px;
}

.miniInfo {
    font-size: 15px;
    letter-spacing: 1px;
    color: #F3F3F3;
    margin-right: 50px;
}

.mainText {
    font-size: 50px;
    margin-bottom: 0px;
    letter-spacing: 10px;
}

.mainText span:nth-child(1) {
    font-size: 100px;
    font-family: serif;
}

.mainText span:nth-child(2) {
    font-size: 35px;
    font-family: sans-serif;
}

.hButton {
    text-align: center;
    color: #9E9E9E;
    letter-spacing: 1px;
    font-weight: bold;
    border: 2px solid #9E9E9E;
    background-color: rgba( 0, 0, 0, 0.7);
    font-size: 13px;
    width: 200px;
    height: 50px;
    padding: 14px;
    margin-top: 150px;
    margin-right: 50px;
}

.hButton:hover {
    background-color: rgba( 0, 0, 0, 0.5);
    border: 2px solid #B7C8D9;
}

.hButton:active {
    border: 2px groove black;
}

.container {
    height: 740px;
    width: 100%;
}

.article {
    display: flex;
    width: 100%;
    padding-left: 6%;
    padding-right: 6%;
    height: 250px;
    background-color: #FFF;
    justify-content: space-around;
}

.a-box-1 {
    padding-top: 80px;
    flex-basis: 35%;
    font-size: 20px;
}

.a-box-2 {
    padding-top: 70px;
    font-size: 14px;
    flex-basis: 48%;
}

.content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color: #F3F3F3;
}

.content img{
    width: auto;
    height: auto;
    padding-left: 0px;
    padding-right: 0px;
    padding: 10px;
}
.content p {
    padding-top: 100px;
    font-size: 20px;
    text-align: center;
    padding-bottom: 60px;
}

.imageContainer {
    width: 88%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.imageContainer span{
    font-size: 14px;
}

.content .imageContainer .img1{
    width: 770px;
    height: 300px;
    background: url(../img/sample.jpg) no-repeat center / cover;
}
.content .imageContainer .img2{
    width:370px;
    height:300px;
    background: url(../img/sample2.jpg) no-repeat center / cover;
}
.content .imageContainer .img3{
    width:370px;
    height:300px;
    background: url(../img/sample2.jpg) no-repeat center / cover;
}
.content .imageContainer .img4{
    width: 770px;
    height: 300px;
    background: url(../img/sample3.jpg) no-repeat center / cover;
}
.imageContainer div{
    display: flex;
    margin: 11px; 
    padding-left: 30px;
    
    flex-direction: row;
    justify-content: space-between;

    box-shadow: inset 0em -3px 200px 0  black;
/* 
none | [inset? && [ <сдвиг по x> <сдвиг по y> <размытие>? <растяжение>? <цвет>? ] ]#

    -moz-box-shadow:    inset  0 -10px 10px -10px rgba(0,0,0,0.9);
    -webkit-box-shadow: inset  0 -10px 10px -10px rgba(0,0,0,0.9);
     box-shadow:        inset  0 -10px 10px -10px rgba(0,0,0,0.9); */

}
.imageContainer div a{
    text-align: center;
    margin: 15px;
    height: 50px;
    width: 100px;
    padding-top: 13px;
}
.imgText{
    color: #FFF;
    
    align-self: flex-end;   
    margin-top: 1000px;
    margin: 0px;
}
.imgButton {
    text-align: center;
    color: #fff;
    
    letter-spacing: 1px;
    font-weight: bold;
    border: 2px solid #fff;
    background-color: rgba( 0, 0, 0, 0.5);
    font-size: 13px;
    max-width: 80px;
    height: 30px;
    padding: 0px;
}
.imgButton:hover{
    color: #B7C8D9;
    border: 2px solid #B7C8D9;
    transition: color 0.5s;
}
.newsLetter {
    
    display: flex;
    justify-content: center;
    

    margin-top: 100px;
    
   
    height: 200px;
    background-color: #FFF;
    width: 88%;
    margin-bottom: 100px;
}

.newsLetter p {
    font-size: 20px;
    padding-top: 60px;
    padding-right: 100px;
}

.newsLetter form {
    padding-top: 70px;
    display: inline;
}

.newsLetter .input-group-field {
    background-color: #f3f3f3;
    border: 1px solid #343638;
    padding: 15px;
    width: 300px;
    float: left;
    height: 50px;
}

.newsLetter .input-group-field::placeholder {
    color: #000;
}

.newsLetter .button {
    padding: 15px 15px 17px 15px;
    background-color: #343638;
    border: none;
    float: left;
    width: 150px;
    margin-top: 32px;
}.newsLetter .button:hover{
    background-color: rgba( 0, 0, 0, 0.7);
    color: #B7C8D9;
}

.content .button {
    padding: 0px;
    margin: 0px;
    border: 0px;
    height: 50px;
    background: #343638;
    color: #E8E8E8;
}

.info {
    display: flex;
    flex-wrap: nowrap;
    height: auto;
    background-color: #FFF;
    justify-content: space-around;
    align-items: stretch;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 6%;
    padding-right: 6%;
}

.info .input-group-field {
    margin-top: 25px;
    background-color: #f3f3f3;
    border: 1px solid #343638;
    padding: 15px;
    width: 170px;
    float: left;
}

.info .button {
    padding: 15px 15px 17px 15px;
    background-color: #343638;
    border: none;
    color: #fff;
    float: left;
    width: 100px;
    margin-top: 25px;
}
.info .button:hover{
    background-color: rgba( 0, 0, 0, 0.7);
    color: #B7C8D9;
}
.info div {
    margin-right: 0px;
    font-size: 15px;
}

.info p {
    color: #9E9E9E;
}

.info .box-1 {
    flex-basis: 20%;
}

.info .box-2 {
    flex-basis: 17%;
}

.info .box-2 p {
    line-height: 35px;
}

.info .box-3 {
    flex-basis: 20%;
}

.info .box-3 p {
    font-style: italic;
}

.info .box-3 span {
    font-style: normal;
    color: #E8E8E8;
}

.info .box-4 {
    flex-basis: 25%;
}

.subscription-form {
    display: inline;
}

.subscription-form .input-group-field::placeholder {
    font-style: italic;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    margin-left: 6%;
    margin-right: 6%;
    border-top: 2px solid #F3F3F3;
    justify-content: space-between;
    align-items: center;
}

.f-box-1 {
    color: #A4A4A4;
}

.f-box-2 a {
    font-weight: bold;
    color: #000;
}


/* #B7C8D9 blu #FFF white #F3F3F3 #A4A4A4 #F0F0F0 #000 /dark #343638 #E8E8E8 #9E9E9E */