$backgroundColor: #dcbb9a;
$briefBackgroundColor:#fadcba;
$bodyBackgroundColor:#ffffff;
$headingColor: #893c00;
$reflinkColor:#3d70a1;
$tableHeaderColor:#e0e0e0;
$tableBackgroundColor: white;
$textColor: #000000;

$formTextColor:black;
//#808080;
//

