$backgroundColor: rgba(198, 238, 252, 0.53);
$briefBackgroundColor:#fff178;
$bodyBackgroundColor:#3b3b3b;
$headingColor: #fccd10;
$reflinkColor:#f5c70f;
$tableHeaderColor:#94a34e;
$tableBackgroundColor:#677d01;
$textColor:white;

$formTextColor:black;