$backgroundColor: #dcbb9a;
$briefBackgroundColor:#fadcba;
$bodyBackgroundColor:#ffffff;
$headingColor: #893c00;
$reflinkColor:#3d70a1;
$tableHeaderColor:#e0e0e0;
$tableBackgroundColor: white;
$textColor: #000000;
$formTextColor:#808080;

$h1Case: capitalize;

$briedWidth: 389px;
$briefHeight: 74px;

$briefPaddingBottom:0px;

$briefMarginRight:20px;
$briefMarginBottom:0;